{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/template.css')}}">
{% endblock %}
{% block title %}Qweeby{% endblock %}
{% block head %} <meta charset="utf-8"/>{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="header">
        <center>
            <a href="../../../web/css/template.css">
                <img width="30%" height="30%" class="logo_desktop" src="{{ asset('logo1.png') }}" alt="">
            </a>
        </center>
    </div>

    <div class="corps">
        <br>
        {{ form_start(form) }}
            <h1>1<sup>ère</sup> étape : Sélectionner votre fichier CSV</h1>
            <center>
                {{ form_widget(form.file, {'attr': {'class': 'input-file', 'name':'csv'}}) }}
                <div class="csv">
                    <label class="label-file" for="{{ form.file.vars.id }}" id="file-drag"
                           title="Ouvrir l'explorateur de fichier et sélectionner un fichier CSV.">Ouvrir...</label>
                </div>
                <label title="Cliquez ici pour télecharger un fichier CSV modèle." class="topito">Besoin d'aide?</label>
            </center>

            <br>
            <h1 title="Utiliser les checkbox pour traiter votre CSV avec les critères voulus.">2<sup>ème</sup> étape :
                Choisissez vos critères</h1>
            <center>
                <div class="grey">
                    <label class="container">Tva intracommunautaire
                        {{ form_widget(form.tvaChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Siret
                        {#<input type="checkbox" id="check" onclick="detecter('check','label1','checkmark1')"><br>#}
                        {{ form_widget(form.siretChecked, {'attr': {'onclick':'detecter()'}}) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container" id="remplacerTVA" style = "display: table">Remplacer TVA
                        {{ form_widget(form.replaceTva) }}
                        <span class="checkmark" id="checkMarkTVA"></span>
                    </label>
                    <label class="container" id="remplacerCoord" style = "display: table">Remplacer raison sociale, code postal, ville et adresse
                        {{ form_widget(form.replaceCoordonnees) }}
                        <span class="checkmark" id="checkMarkCoord"></span>
                    </label>
                    <label class="container">Email
                        {{ form_widget(form.emailChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Langue
                        {{ form_widget(form.langueChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Type client
                        {{ form_widget(form.typeClientChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Accord
                        {{ form_widget(form.accordChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Numéro de téléphone
                        {{ form_widget(form.telChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Raison sociale
                        {{ form_widget(form.raisonSocialeChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Adresse
                        {{ form_widget(form.adresseChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Ville
                        {{ form_widget(form.villeChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Profil utilisateur
                        {{ form_widget(form.profilUtilisateurChecked) }}
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Code postal
                        {{ form_widget(form.codePostalChecked) }}
                        <span class="checkmark"></span>
                    </label>

                </div>
                <label title="Cliquez ici pour avoir un explicatif de chaque critère." class="topito">Besoin
                    d'aide?</label>
            </center>

        <br>
        <h1>3<sup>ème</sup> étape : Démarrer le traitement</h1>
        <center>
            <div class="grey">
                <br>

                {{ form_widget(form.send, {'attr': {'class': 'envoyer_upload', 'type':'submit'}}) }}
                {#<input title="Commencer le traitement." class="envoyer_upload" type="submit" name="action"
                       value="Lancer" id="valide">#}
            </div>
        </center>
        {{ form_end(form) }}
    </div>


    <script>
        function detecter(){
            if(document.getElementById('{{form.siretChecked.vars.id }}').checked){
                document.getElementById('remplacerTVA').style.display='table';
                document.getElementById('checkMarkTVA').style.display='table';
                document.getElementById('remplacerCoord').style.display='table';
                document.getElementById('checkMarkCoord').style.display='table';
            }
            else{
                document.getElementById('remplacerTVA').style.display='none';
                document.getElementById('checkMarkTVA').style.display='none';
                document.getElementById('remplacerCoord').style.display='none';
                document.getElementById('checkMarkCoord').style.display='none';
            }
        }</script>

{% endblock %}
